[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
crowd_funding = "2fqEGPkgxeCSKgSmidAK6EVHxaEXeu2q4jDM9eHAicEX"

[programs.devnet]
crowd_funding = "2fqEGPkgxeCSKgSmidAK6EVHxaEXeu2q4jDM9eHAicEX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
